/* HEADER STYLES */

html,body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#header {
    margin-top: 0;
    height: 78px;
    width: 100%;
    background: white;
    border-bottom: 1px solid #bbb4d6;
    position: absolute;
    top: 0;
    left: 0;
}

#headerToolbar {
    height: 35px;
    width: 100%;
    background-color: #171a17;
    border-top: 1px solid #999999;
    border-bottom: 1px solid #424141;
    color: white;
}

#headerContent {
    width: 800px;
    height: 78px;
    position: relative;
    top: 0;
    left: 0;
    margin: auto;
}

#headerLogo {
    margin-top: 23px;
    height: 80px;
    width: 160px;
    background: url("../images/logo-medium.png") no-repeat;
    position: absolute;
    top: 0;
    left: -50px;
}

#headerSlogan {
    position: absolute;
    border-left: 1px dashed gray;
    margin-top: 8px;
    height: 1em;
    width: 100px;
    top: 40px;
    left: 137px;
    white-space: nowrap;
    padding-left: 7px;
    font-weight: bold;
    vertical-align: middle;
    font-size: 20px;
}

#headerButtons {
    position: absolute;
    top: 65px;
    left: 150px;
}

#aboutLink, #faqLink, #feedbackLink, #logoutLink {
    float: right;
    z-index: 300;
}

div#headerButtons a {
    float: left;
    color: #6F6F6F;
    padding: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 120%;
    white-space: nowrap;
}

div#headerTitle {
    float: left;
    font-weight: bold;
    font-size: 15px;
    margin-right: 5px;
    margin-left: 5px;
}

span#headerSubTitle {
    font-weight: lighter;
    font-size: 12px;
}

div#headerButtons a:hover {
    /*text-decoration: underline;*/
    color: #7e72ad;
}

div#headerButtons activelink a, div#headerButtons activelink a:hover {
    text-decoration: none;
    border-top: 0;
    border-bottom: 0;
}


#headerLogo {
    cursor: pointer;
}

div#headerActions {
    padding-right: 8px;
    padding-top: 4px;
    position: absolute;
    right: 0;
    z-index: 50;

}

#headerActions span {
    border-bottom: 3px solid #F7C931;
}

div#headerActions a:hover, div#headerActions a:active, div#headerActions a:link, div#headerActions a:visited {
    color: white;
}

#dialogMainForm label
{
    font-weight:normal;
}
