<?xml version="1.0" encoding="UTF-8"?>
<map name="basic" version="tango">
    <topic bgColor="#99ffff" central="true"
        fontStyle="Arial;10;#ff3300;bold;;" id="0" position="0,0" shape="rounded rectagle">
        <text><![CDATA[120924 Programme]]></text>
        <note><![CDATA[]]></note>
        <topic bgColor="#ffff33" brColor="#808080"
            fontStyle="Arial;8;#0000cc;bold;;" id="1" order="0"
            position="200,0" shape="rounded rectagle">
            <text><![CDATA[bilan mi-parcours
du plan d'actions]]></text>
            <topic fontStyle="Arial;8;#006600;bold;;" id="2" order="0"
                position="290,-75" shape="line">
                <text><![CDATA[modalités]]></text>
                <topic id="3" order="0" position="380,-125" shape="line">
                    <text><![CDATA[cf. mi-parcours 201109]]></text>
                </topic>
                <topic fontStyle="Arial;8;;;;" id="4" order="1"
                    position="380,-100" shape="line">
                    <text><![CDATA[à partir des plans d'actions]]></text>
                </topic>
                <topic fontStyle="Arial;8;;;;" id="5" order="2"
                    position="380,-75" shape="line">
                    <text><![CDATA[donner la parole aux référents prévus, en demandant des exemples]]></text>
                </topic>
                <topic fontStyle="Arial;8;;;;" id="6" order="3"
                    position="380,-50" shape="line">
                    <text><![CDATA[faire compléter par les autres participants]]></text>
                </topic>
            </topic>
            <topic bgColor="#99ffff" brColor="#808080"
                fontStyle="Arial;8;#0000cc;bold;;" id="7" order="1"
                position="290,-50" shape="rounded rectagle">
                <text><![CDATA[1) Adapter et améliorer 
 notre offre de services 
 selon l'évolution des besoins]]></text>
                <topic bgColor="#99ffff" id="8" order="0"
                    position="380,-175" shape="rectagle">
                    <text><![CDATA[couleurs = état d'avancement en septembre 2011, 
à mettre à jour selon avancement 2012]]></text>
                    <topic bgColor="#0099ff" id="9" order="0"
                        position="470,-225" shape="rectagle">
                        <text><![CDATA[Bleu 0%]]></text>
                    </topic>
                    <topic bgColor="#ff9999" id="10" order="1"
                        position="470,-200" shape="rectagle">
                        <text><![CDATA[Rouge 25%]]></text>
                    </topic>
                    <topic bgColor="#ffcc00" id="11" order="2"
                        position="470,-175" shape="rectagle">
                        <text><![CDATA[Orange 50%]]></text>
                    </topic>
                    <topic bgColor="#ffff00" id="12" order="3"
                        position="470,-150" shape="rectagle">
                        <text><![CDATA[Jaune 75%]]></text>
                    </topic>
                    <topic bgColor="#66ff00" id="13" order="4"
                        position="470,-125" shape="rectagle">
                        <text><![CDATA[Vert]]></text>
                        <topic id="14" order="0" position="560,-125" shape="line">
                            <text><![CDATA[100 %]]></text>
                        </topic>
                    </topic>
                </topic>
                <topic bgColor="#66ff00"
                    fontStyle="Arial;8;#006600;bold;;" id="15" order="1"
                    position="380,-150" shape="rectagle" shrink="true">
                    <text><![CDATA[1.1. .Renforcer et structurer 
 le service "accueil et orientation"]]></text>
                    <topic id="16" order="0" position="470,-175" shape="line">
                        <text><![CDATA[Sophie]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ffff00"
                    fontStyle="Arial;8;#006600;bold;;" id="17" order="2"
                    position="380,-125" shape="rectagle">
                    <text><![CDATA[1.2. Adapter l'offre Halte-Garderie 
 aux besoins des familles]]></text>
                    <topic id="18" order="0" position="470,-150" shape="line">
                        <text><![CDATA[Martine D et Christine]]></text>
                    </topic>
                </topic>
                <topic bgColor="#66ff00"
                    fontStyle="Arial;8;#006600;bold;;" id="19" order="3"
                    position="380,-100" shape="rectagle">
                    <text><![CDATA[1.3. Renforcer et structurer les services 
 de soutien à la parentalité]]></text>
                    <topic id="20" order="0" position="470,-125" shape="line">
                        <text><![CDATA[Nathalie]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ffff00"
                    fontStyle="Arial;8;#006600;bold;;" id="21" order="4"
                    position="380,-75" shape="rectagle">
                    <text><![CDATA[1.4 Améliorer la qualité des 
 projets pédagogiques des ALSH]]></text>
                    <topic id="22" order="0" position="470,-100" shape="line">
                        <text><![CDATA[Josiane]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ffcc00"
                    fontStyle="Arial;8;#006600;bold;;" id="23" order="5"
                    position="380,-50" shape="rectagle">
                    <text><![CDATA[1.5 Renforcer et améliorer les 
 activités de loisirs existantes]]></text>
                    <topic id="24" order="0" position="470,-75" shape="line">
                        <text><![CDATA[Agnès]]></text>
                    </topic>
                </topic>
                <topic bgColor="#66ff00"
                    fontStyle="Arial;8;#006600;bold;;" id="25" order="6"
                    position="380,-25" shape="rectagle">
                    <text><![CDATA[1.6 Renforcer et améliorer les ateliers   
 visant à  rompre l'isolement lié à la langue, 
 la pauvreté, la pression de la consommation]]></text>
                    <topic id="26" order="0" position="470,-50" shape="line">
                        <text><![CDATA[Nathalie]]></text>
                    </topic>
                </topic>
            </topic>
            <topic bgColor="#99ffff" brColor="#808080"
                fontStyle="Arial;8;#0000cc;bold;;" id="27" order="2"
                position="290,-25" shape="rounded rectagle">
                <text><![CDATA[2) Consolider nos moyens d'action : 
 locaux, organisation, communication interne]]></text>
                <topic bgColor="#ffff00"
                    fontStyle="Arial;8;#006600;bold;;" id="28" order="0"
                    position="380,-100" shape="rectagle">
                    <text><![CDATA[2.1 Formaliser notre offre de services 
 et les modèles économiques correspondants]]></text>
                    <topic id="29" order="0" position="470,-150" shape="line">
                        <text><![CDATA[Agnès]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ffcc00"
                    fontStyle="Arial;8;#006600;bold;;" id="30" order="1"
                    position="380,-75" shape="rectagle">
                    <text><![CDATA[2.2 Formaliser le "qui fait quoi" 
 en lien avec notre offre de service]]></text>
                    <topic id="31" order="0" position="470,-125" shape="line">
                        <text><![CDATA[Martine G]]></text>
                    </topic>
                </topic>
                <topic bgColor="#66ff00"
                    fontStyle="Arial;8;#006600;bold;;" id="32" order="2"
                    position="380,-50" shape="rectagle">
                    <text><![CDATA[2.3. Elaborer un projet immobilier de proximité 
 réalisable au  centre ville]]></text>
                    <topic id="33" order="0" position="470,-100" shape="line">
                        <text><![CDATA[JMDW]]></text>
                    </topic>
                </topic>
            </topic>
            <topic bgColor="#99ffff" brColor="#808080"
                fontStyle="Arial;8;#0000cc;bold;;" id="34" order="3"
                position="290,0" shape="rounded rectagle">
                <text><![CDATA[3) Renforcer nos 
 partenariats et 
 notre notoriété]]></text>
                <topic bgColor="#ffff00" brColor="#808080"
                    fontStyle="Arial;8;#006600;bold;;" id="35" order="0"
                    position="380,-75" shape="rectagle">
                    <text><![CDATA[3.1 Organiser pour chaque segment de notre offre 
 l'identification et la rencontre des partenaires concernés]]></text>
                    <topic id="36" order="0" position="470,-125" shape="line">
                        <text><![CDATA[Martine P]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ffcc00" brColor="#808080"
                    fontStyle="Arial;8;#006600;bold;;" id="37" order="1"
                    position="380,-50" shape="rectagle">
                    <text><![CDATA[3.2 Formaliser et contractualiser les partenariats 
 émergeants autour d'actions communes]]></text>
                    <topic id="38" order="0" position="470,-100" shape="line">
                        <text><![CDATA[Pdt + Agnès]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ff6666"
                    fontStyle="Arial;8;#006600;bold;;" id="39" order="2"
                    position="380,-25" shape="rectagle">
                    <text><![CDATA[3.3 développer la vie associative]]></text>
                    <topic id="40" order="0" position="470,-50" shape="line">
                        <text><![CDATA[Pdt + Agnès]]></text>
                    </topic>
                </topic>
                <topic bgColor="#ff6666" brColor="#808080"
                    fontStyle="Arial;8;#006600;bold;;" id="41" order="3"
                    position="380,0" shape="rectagle">
                    <text><![CDATA[3.4 définir et faire vivre un plan de communication 
 à partir de notre segmentation de l'offre]]></text>
                    <topic id="42" order="0" position="470,-50" shape="line">
                        <text><![CDATA[Pdt + Agnès]]></text>
                    </topic>
                </topic>
            </topic>
        </topic>
    </topic>
</map>
